@charset "UTF-8";

:root {
    --cor1 : #FEC703;
    --cor2 : #042E6A;
    --cor3: #a0a0a0;
}
* {
    padding: 0px;
    margin: 0px;
}

img#logo {
    display: block;
    max-width: 400px;
    margin: auto;
}

div {
    background-color: var(--cor2);
}

body {
    background-color: var(--cor1);
}

nav {
    padding: 8px;
    background-color: var(--cor3);
}

a.link {
    text-decoration: none;
    padding: 8px;
    color: white;
    border-radius: 1px 1px solid white;
}

a.link#wpp:hover {
    background-image: linear-gradient( to right ,#0DC143,#0DC143);
    border-radius: 5px ;
}

a.link#ins:hover {
    background-image: linear-gradient(to right ,#7b38b2,
    #de5a50,#fca73d,#de5a50,#7b38b2);
    border-radius: 5px ;
}

main {
    background-color: var(--cor2);
    height: 400px;
    width: 1300px;
    margin: auto;
}

p.destaque {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vh;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}